#get3{display: none;}
#mnV{
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction:column;
	margin-right: 1em;
	text-align: center;
	width: 20%;
}
	#mnV a{
		border-bottom: 2px solid #E5E5E5;
		color:#000;
		text-decoration: none;
		padding: 0.5em 1em;
	}
	#mnV a:hover{
		color: #EC268F;
	}
#nw_produ{
	display: flex;
	margin: 0 auto;
	max-width: 1100px;
}
#prdonw{
	width: 80%;
}
.anuncio{display: none;}
.descipVer{
	display: flex;
}
	.descipVer #descproduct{
		padding: 1em;
		width: 50%;
	}
.dise{
	background: url(../imagenes/f7.jpg) no-repeat center;
	display:flex;
}
	.dise #galerias,.descipVer #galerias{
		display:flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		width:35%;
	}
			.dise #galerias figcaption img,.descipVer #galerias figcaption img{
				display: inline-block;
				vertical-align: top;
				width: 3em;
			}
	.dise #descproduct{
		width:45%;
	}
		.dise #descproduct a{
			background:#425B22;
			color:#fff;
			padding:0.5em 1em;
		}
		.dise #descproduct a:hover{
			opacity:0.8;
		}
.dp_mn{
	text-transform: lowercase;
}
.dscar{
	margin-top: 2em;
}
	.dscar a{
		background: #51CFC4;
		color: #fff;
		padding: 0.5em 1em;
		text-decoration: none;
	}
	.dscar a:hover,.dscar a:active{
		background: #CC2A8D;
	}
.flexartclC figure:hover{opacity: 0.8;}
@media screen and (max-width: 1350px){
	#mnV{
		display: none;
	}
}